* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    align-items: center;
        
    justify-content: center;

    padding-block: rem;
    margin-inline: 3.3rem;
    margin-block: 7rem; 

    background-color: #26282B;
}

.container {
    
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    
       
    width: 20rem;
    height: 20rem;
    
    border-radius: 2.5rem;
    border: 2px solid;
    background-color: #90B8F8;
 
   
            
    
}