* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

    
}

body {
    display: flex;
    align-items: center;
        
    justify-content: center;
    min-height: 100vh;

    
    margin-inline: 3.3rem;
    

    background-color: #26282B;
}

.container {
    
    display: flex;
    align-items:center;
   /*  text-align: center; */
    justify-content: center;
    flex-direction: column;
    
    padding-block: 3rem;
    padding-inline: 3rem;
    
    border-radius: 1.5rem;
    border: 0.32rem solid rgb(128, 154, 186);
    background-color: #90B8F8;


    
            
    
}

form  {
    display:grid;
    grid-template-columns: auto;
    row-gap: 1.2rem;
    column-gap: 1rem;
    align-items: center;
    

}

.title {
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
}

label {
    
}

.range {
    display: flex;
    align-items: center;

}

.number-input {
    width: 2rem;
}