* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

    
}

body {
    display: flex;
    align-items: center;
        
    justify-content: center;
    min-height: 100vh;

    
    margin-inline: 3.3rem;
    

    background-color: #26282B;
}

.container {
    
    display: flex;
    align-items:center;
   /*  text-align: center; */
    justify-content: center;
    flex-direction: column;
    
       
    padding-block: 3rem;
    padding-inline: 3rem;
    
    border-radius: 1.5rem;
    border: 0.02rem solid whitesmoke;
    background-color: #90B8F8;
 
   
            
    
}

